.signUpBox {
	width: 50%;
	margin: auto;
	text-align: center;
}

.signUpErr {
	color: red;
	font-size: 0.8rem;
	font-weight: lighter;
}


.signUpOk {
	color: green;
	font-size: 0.8rem;
	font-weight: lighter;
}